body {
  background: #101b3a;
  color: #fff;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}


.interval select {
  background: #22306b;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  text-align:left;
  font-weight: bold;
  height: 50px;
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
}

.custom-interval {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
}

.custom-interval p {
  margin: 0 0 10px 10px;
  font-weight:bolder
}

.custom-interval > input {
  background: #2d458f;
  color: #fff;
  height: 30px;
  font-size: 15px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
}

.set-interval-button {
  padding: 0 15px;
  background: #2d458f;
  color: #fff;
  height: 30px;
  font-size: 15px;
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
}


.categories select, 
.categories input[type="date"] {
  /* display: flex; */
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 1rem;
  background: #22306b;
  color: #fff;
  font-weight: bold;
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  gap: 12px;
  height: 50px;
}

.categories select option:nth-last-child() {
  margin-bottom: 50px;
}

.date-table {
  width: 200px;
  background: #22306b;
  border-radius: 5px;
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  margin-bottom: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px;
  line-height: 1.5;
}

th, td {
  text-align: left;
  /* padding: 0 15px; */
}
  



