@import './vars';
@import './mixins';


.description {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $textAreaColor;
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
    @extend %border;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
    color: black;
    @include flex(none, flex-end, column);
}

textarea {
    width: 100%;
    background-color: $textAreaColor;
    resize: none;
    height: auto;
    border: none;
    font-size: 18px;
}

.save-btn,
.close-description {
    @extend %btn;
    margin: 5px;
}

