@import './vars';
@import './mixins';


.expenses-wrapper {
  margin: 30px;
}

.expenses-header {
  @include flex(flex-start, center, row);
  margin-top: 100px;
  margin-bottom: 20px;
  gap: 50px;
}


.filter-btn,
.sort-btn {
  @include flex(space-between, center, row);
  background-color: $bgColor;   
  border: none;
  @extend %mainFont;
  font-size: 18px;
  gap: 5px;
}

.expenses-table {
  @extend %border;
  border-color: $tableLinesOddColor;
  border-style: ridge;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  & td {
    height: 50px;
    border-color: $tableLinesOddColor;
    padding-left: 20px;
    text-align: left;
  
  }

  #edit-icon {
    font-size: 15px;
    margin-left: 10px;
    color: $textAreaColor;
  }


  .tooltip-icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-icon-text {
    visibility: hidden;
    width: 80px;
    color: $textAreaColor;
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  
  .tooltip-icon-container:hover .tooltip-icon-text {
    visibility: visible;
    opacity: 1;
  }


  & th {
    background: $bgLightColor;
    font-weight: 600;
    font-size: 18px;
    height: 40px;
    padding-left: 20px;
    text-align: left;
  }

  tr:nth-child(even) {
    background: $bgLightColor;
  }
}

select,
input,
#edit-price, 
#edit-name, 
#edit-date {
  @extend %input_select;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px  #263b7a inset !important;
  -webkit-text-fill-color: $white !important;
  caret-color: $white!important;
  transition: background-color 5000s ease-in-out 0s !important;
  }
  &:-webkit-autofill:focus {
    border-color: $white !important;
  }
  
}


.add-show-description-btn {
  @extend %btn;
  width: 150px;
  margin-right: 5px;
}

.save-btn,
.delete-expense-btn {
  @extend %btn;
  width: 80px;
  margin-right: 5px;
}



.pagination {
  @include flex(center, none, row);
  margin-top: 10px;

  button {
    margin: 0 10px;
    
    &:hover {
      background-color: $btnHoverColor;
    }
  }
}

.expenses-total {
  @include flex(center, center, row);
  
}


.total {

  background-color: $bgLightColor;
  width: 150px;
  height: 50px;
  position: absolute;
  right: 30px;
  font-size: 18px;
  font-weight: bolder;
  align-content: center;
  cursor: default;
  text-align: center;

  &:hover {
    background-color: $btnColor;
  }
}

.show-interval{ 
  width: auto;
  height: auto;
  
  font-size: 20px;
 
}

.show-custom {
  @include flex(space-between, center, row);
  gap: 10px;
  width: 100%;

  
}

.show-custom-interval {
  @include flex(space-between, flex-start, column);
  gap: 12px;
}
