@import './vars';
@import './mixins';


// .loggedin {
//     position: absolute;   
//     top: 50px;
//     right: 50px;
// }


.loggedout,
.loggedin {  
    @include flex(flex-end, center, column);  
    gap: 10px;
    position: absolute;   
    font-size: 20px;
    top: 50px;
    right: 50px;


    .login-btn,
    .logout-btn {
        @extend %btn;
        position: relative;
        right: 0;
        top: 0;
        width: 100px;
        height: 50px;   
        font-size: 20px;
        background-color: $inputColor;   
    }
}


.greeting {    
    width: 100px;
    height: 50px;
    @include flex (center, center, row);
    font-size: 20px;
    

    .material-icons {
        margin-right: 10px;
        font-size: 30px
    }
}


label {
    @extend %mainFont;
    margin-right: 10px;
}

input {
    color: $black;;
}


.form-group {
    position: relative;
    width: max-content;
}

.show-password-btn {
    position: absolute;
    top: 30%;
    right: 5%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: 'pointer';
    color: $black;
    background-color: $bgLightColor;
}


.login-message {
    margin-top: 12;
    padding: 10;
    background: '#ffecec';
    color: $white;
    border: '1px solid #f5aca6';
    border-radius: 4;
    @include flex (none, center, none) 
}